@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #0a0a0a;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cursor::after {
    content: "_";
    animation: cursor-blink 1s infinite;
}
